<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" name="viewport">
    <title>用户入口</title>
    <link rel="stylesheet" href="css/style.css" media="screen">
  </head>
  <body>
    <form id="loginbox" method="POST">
      <input type="text" placeholder="请输入用户名" id="username" name="username">
      <input type="submit" id="sendUsername" value="提交">
    </form>
    <script src="js/login.js"></script>
  </body>
</html>
